<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>{{ title }}</title>
</head>
<body>
<h1>{{ title }}</h1>
<div>
<ol>
{% for p in posts %}
<li>{{ p.content }}</li>
{% endfor %}
</ol>
</div>

<form action="/" method="post">
Enter your post: <input name="theContent" type="text"/><br />
<br/>
<input type="submit"></input>
</form>


<hr/>
<h3>New Tags</h3>
<form action="/" method="post">
Enter your new tag: <input name="tagname" type="text"/><br />
<input type="submit"></input>
</form>

</body>
</html>
